@using System.Text;
@using UsersNotebook.Core.Models.Domains;
@using Microsoft.AspNetCore.Mvc
@model IEnumerable<User>

<div id="usersReportTable">
    <table class="table mt-3 table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Data urodzenia</th>
                <th scope="col">Płeć</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Surname</td>
                        <td>@user.DateOfBirth.ToString("dd-MM-yyyy")</td>
                        <td>@user.Gender</td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">
                    <td colspan="5">Brak urzytkowników do wyświetlenia</td>
                </tr>
            }
        </tbody>
    </table>
</div>