@model UsersReportViewModel
@{
    ViewData["Title"] = "UsersReport";
}

<h1>Filtrowanie urzytkowniów do raportu</h1>

<form id="filterForm" class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Imię" name="Name">
        </div>
    </div>
    <div class="col-auto">
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Nazwisko" name="Surname">
        </div>
    </div>
    <div class="col-auto">
        <select class="form-control mb-2" name="Gender">
            <option value="">Wybierz płeć</option>
            <option value="Mężczyzna">Mężczyzna</option>
            <option value="Kobieta">Kobieta</option>
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Szukaj</button>
    </div>
</form>

<button class="btn btn-secondary mb-3" onclick="generateCSV()">
    Gereruj raport CSV
</button>

<div>
    @await Html.PartialAsync("_UsersReportTable", Model.Users)
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#filterForm').submit(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UsersReport","Report")",
                    data: $(this).serialize(),
                    success: function (data) {
                        $('#usersReportTable').html(data);
                    },
                    error: function (data) {
                        alert(data.message)
                    },
                    dataType: "html"
                });
                return false;
            });
        });

        function generateCSV() {

            var name = $('input[name="Name"]').val();
            var surname = $('input[name="Surname"]').val();
            var gender = $('select[name="Gender"]').val();

            var data = {
                Name: name,
                Surname: surname,
                Gender: gender
            };

            $.ajax({
                type: "GET",
                url: "@Url.Action("DownloadCsv","Report")",
                data: data,
                success: function (data) {
                    var downloadUrl = "@Url.Action("DownloadCsv", "Report")" +
                        "?name=" + encodeURIComponent(name) +
                        "&surname=" + encodeURIComponent(surname) +
                        "&gender=" + encodeURIComponent(gender);
                    window.location.href = downloadUrl;
                },
                error: function (data) {
                    alert(data.message)
                },
                dataType: "html"
            });
        }
    </script>
}