@using UsersNotebook.Core.Models.Domains;
@model AdditionalInformation

<div class="additional-information">
    Typ Informacji
    @Html.EditorFor(model => model.InformationType)
    Wartość Informacji
    @Html.EditorFor(model => model.InformationType)
</div>